/* Mobile size */
header {
    border-bottom: 1px solid rgb(177, 175, 175);
    position: sticky;
    top: 0;
    background-color: rgb(255, 226, 169);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.nav-left a {
    display: inline-block;
    line-height: 0;
}

.nav-left img {
    width: 50px;
    height: auto;
    display: block;
}

.welcome {
  margin-right: 8px;
  font-size: 14px;
  color: #333;
}


/* / hidden component -mobile size- */
.filter, .event, .experience {
    display: none;
}


.login-button, 
.signin-button,
.logout-button {
    background: none;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-main-color);
}

.login-button:hover, 
.signin-button:hover,
.logout-button:hover {
    background-color: rgb(239, 236, 236);
}

.about,
.mypage,
.document,
.sources {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-main-color);
    border-radius: 10px;
    transition: background-color 0.2s ease;
    padding: 10px 12px;
    width: auto;
    text-align: center;
    align-self: center;
    min-width: 155px;
}

.about:hover,
.mypage:hover,
.document:hover,
.sources:hover {
    background-color: rgb(239, 236, 236);
}



/*Desktop size*/
@media screen and (min-width: 800px){
    header {
        border-bottom: 1px solid rgb(177, 175, 175);
        position: sticky;
        top: 0;
    }

    .main-header {
        display: grid;
        grid-template-columns: 90px 1fr 1fr;
        align-items: center;
    }
    
    
    .nav-left {
        justify-self: center;
    }

    .nav-left a {
        display: inline-block;
        line-height: 0;
    }
    
    .nav-left img {
        width: 50px;
        height: auto;
        display: block;
    }
    
    
    .nav-right {
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 1rem;                   
    }

    .middle {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 50px;
        padding-left: 30px;
    }

    /* Appear componet -Desktop size- */
    .event, .experience {
        display: flex;
        background: none;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        color: var(--text-main-color);
    }

    .filter {
        display: flex;
        justify-self: center;
        align-self: center;
        gap: 8px;
        border: 1px solid gray;
        border-radius: 50px;
        cursor: pointer;
        padding: 6px;
    }

    .filter span {
        align-self: center;
    }

    .tune-icon {
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-right #menu-open {
        display: inline-block;
    }
}