

.title {
    justify-self: center;
    padding-top: 3rem;
}

.description {
    color: var(--text-color);
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    word-wrap: break-word;
}

.doc-section {
    max-width: 600px;
    margin: 0 auto;
}

h2.section-title {
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.section-text,
.feature-list {
    list-style: none;
    text-align: left;
    line-height: 1.8;
    color: var(--text-color);
    word-wrap: break-word;
}

.validation-image {
    height: 200px;
    width: auto;
}

@media screen and (min-width: 800px){
    .title {
        justify-self: center;
        font-size: 60px;
    }
    
}